
header{
    position: relative;
}

.bg-header{
    background-color:#009688 ;
    height: 20vh;
    
}
.bg-main{
    background-color: #d9dbd3;
    height: 80vh;
    
}
main>.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
}

i{
    font-size: 1rem;
}

.list{
    height: 95vh;
}

.search{
    width: 100%;
    margin: 0 .5rem;
}


img.my-avatar,
img.avatar{
    height: 2rem;
    margin: 5px;
    border-radius: 50%;
}

.contatto{
    height: 95vh;
}

.notifiche{
    margin: 0 .5rem;
    background-color: #8edafc;
}

.conversation{
    height: 85%;
    background-image: url(./img/mine.jpg);
    background-size: contain;
}


.sent{
    float: right;
    clear: both;
    background-color: #d5f9ba;
    padding: .5rem  2rem;
    border-radius: .5rem;
    margin: 1rem;
   
}
.received{
    float: left;
    clear: both;
    background-color:#ffffff ;
    margin: 1rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
}







